body  { background-color: #f8f8f8; }
table { border-collapse: collapse; }

#banner { color: #ffffff; background-size: cover; background-image: url("../img/banner.jpg"); }

#startForm, #joinForm { padding: 15px; }

#game { width: 400px; margin: 0 auto 0 auto; }

/*
 * Title Bar
 */

#title-bar {
  font-size: 18px;
  line-height: 30px;
  background-color: #f0f0f0;
  padding:  3px 3px 3px 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 25px 0;
}

/*
 * Player Info
 */

.player-info        { font-size: 16px; margin: 0 20px 0 20px;        }
.player-info ul     { font-size: 26px; line-height: 28px; margin: 0; }
.player-info ul li  { padding: 0;                                    }

.active-player strong:before { color: #3a87ad; content: "\25b6  "; }
.setup-player strong:before { color: grey; content: "(Setting Up...) "; }
.ready-player strong:before { color: grey; content: "(Ready!) "; }

/*
 * Game Board
 */

#board {
    margin: 0 auto 0 auto;
    background-image: url("../img/map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 340px 480px;
    background-position: center;
}

#board .square {
  width:  80px;
  height: 40px;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  vertical-align: bottom;
}

#board .last-move {
  box-shadow: inset 0 0 0 3px #8E55DF;
  -moz-box-shadow: inset 0 0 0 3px #8E55DF;
  -webkit-box-shadow: inset 0 0 0 3px #8E55DF;
}

#board .top-left-corner, #board .top-right-corner,
#board .bottom-right-corner, #board .bottom-left-corner,
#board .top-edge, #board .right-edge, #board .bottom-edge, #board .left-edge {
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}


#board .top-edge    { background: url("../img/board-edges.png") bottom; }
#board .right-edge  { background: url("../img/board-edges.png") left;   }
#board .bottom-edge { background: url("../img/board-edges.png") top;    }
#board .left-edge   { background: url("../img/board-edges.png") right;  }

#board .top-left-corner     { background: url("../img/board-corners.png") bottom right; }
#board .top-right-corner    { background: url("../img/board-corners.png") bottom left;  }
#board .bottom-right-corner { background: url("../img/board-corners.png") top left;     }
#board .bottom-left-corner  { background: url("../img/board-corners.png") top right;    }

#board .selected                        { border-style: solid; border-color: #049cdb; }
#board .valid-move:before               { color: black; content: "\25cf"; }
#board .valid-attack:before             { border-style: solid; border-color: black;  }
#board .valid-swap:before               { border-style: solid; border-color: black;  }

/*
 * Popup Windows
 */

.modal-content { background-color: #f8f8f8; }
.modal-footer  { margin-top: 0; }

#pawn-promotion h3    { margin-bottom: 20px;                }
#pawn-promotion label { font-size: 30px; line-height: 30px; }

/*
 * Pieces
 */

.facedown.blue:before {
    content: "默认";
    color: #3B5999;
    background-color: #108FE8;
    border-left: solid 1px #2E4476;
    background: #3B5999;
    -webkit-box-shadow: 0px 5px 0px 0px #2E4476;
    box-shadow: 0px 5px 0px 0px #2E4476;
}

.facedown.red:before {
    content: "默认";
    color: #DE463B;
    background-color: #DE463B;
    border-left: solid 1px #C02B21;
    -webkit-box-shadow: 0px 5px 0px 0px #C02B21;
    box-shadow: 0px 5px 0px 0px #C02B21;
}

.blue.rank0:before   { content: "炸弹"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank1:before   { content: "司令"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank2:before   { content: "军长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank3:before   { content: "师长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank4:before   { content: "旅长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank5:before   { content: "团长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank6:before   { content: "营长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank7:before   { content: "连长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank8:before   { content: "排长"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank9:before   { content: "工兵"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank10:before   { content: "地雷"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }
.blue.rank11:before   { content: "军旗"; background-color: #108FE8;color: white;border-left: solid 1px #2E4476;background: #3B5999;-webkit-box-shadow: 0px 5px 0px 0px #2E4476;box-shadow: 0px 5px 0px 0px #2E4476; }

.red.rank0:before   { content: "炸弹"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank1:before   { content: "司令"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank2:before   { content: "军长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank3:before   { content: "师长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank4:before   { content: "旅长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank5:before   { content: "团长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank6:before   { content: "营长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank7:before   { content: "连长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank8:before   { content: "排长"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank9:before   { content: "工兵"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank10:before   { content: "地雷"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
.red.rank11:before   { content: "军旗"; background-color: #DE463B;color: white;border-left: solid 1px #C02B21;-webkit-box-shadow: 0px 5px 0px 0px #C02B21;box-shadow: 0px 5px 0px 0px #C02B21;}
